{{ define "main" }}

<main class="container">
  <section class="blog-flex mt-5">

    {{ $slug := path.Base .Permalink }}
    {{ $posts := where .Site.RegularPages "Params.category" $slug }}

    {{ range $posts }}
      <div class="blog-grid-cards d-flex flex-column">

        <div class="blogpost-card-top">
          <a href="{{ .Permalink }}"><img
              class="blogpost-card-img-top" loading="lazy"
              src="{{ .Params.thumbnail }}"
              alt="{{ .Title }}" /></a>
        </div>

        <div class="blog-grid-cards-header">
          <span class="text-neutral-6 mr-auto">{{ dateFormat "January 2, 2006" .Date }}</span>
          <a href="" class="badge badge-light">{{ .Params.category }}</a>
        </div>
        <div class="blog-grid-cards-body">
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </div>
      </div>
    {{ end }}

  </section>


</main>

{{ end }}